<h1>Create a new Game!</h1>

<form action="/games" method="post">
  <div>
    <label for="title">Enter game title:</label>
    <input type="text" name="title" id="title" required>
  </div>
	<div>
    <label for="description">Enter game description:</label>
    <textarea rows="4" cols="50" name="description" id="description" required></textarea>
  </div>
  <div>
    <label for="rating">Enter your rating: </label>
    <input type="number" name="rating" id="rating" min="0" max="5" required>
  </div>
	<div>
    <label for="image_url">Enter game image url:</label>
    <input type="text" name="image_url" id="image_url" required>
  </div>
  <div>
    <input type="submit" value="Create game!">
  </div>
</form>
