* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

hr {
  border-top: 1px solid gainsboro;
  border-bottom: none;
  margin: 130px 0 50px 0;
}

input {
  width: 48%;
  border: 1px solid gainsboro;
  padding: 7px 10px;
  margin: 1%;
  border-radius: 3px;
  float: left;
  font-size: 17px;
}

input[type="submit"] {
  background: #5f58c0;
  color: white;
}

h1,
h2 {
  text-align: center;
}

h1 {
  text-decoration: underline;
  margin-bottom: 40px;
}
