<div class="nav">
  <ul>
    <li>Navigation:</li>
    <li><a href="/games">Home</a></li>
    <li><a href="/games/new">New Game</a></li>
    <li><a href="/reviews/new">New Review</a></li>
  </ul>
</div>