<h1>Create a new review!</h1>

<form action="/reviews" method="post">
  <div class="input-wrapper">
    <label for="content">Content:</label>
    <textarea type="text" name="review[content]" id="content"></textarea>
  </div>

  <div class="input-wrapper">
    <label for="game_id">Choose a game:</label>
    <select name="review[game_id]" id="game_title">
        <% @games.each do |game| %>
          <option value="<%= game.id %>"><%= game.title %></option>
        <% end %>
    </select>
  </div>

  <input type="submit" class="button">
</form>